<header class="relative py-2">
  <div class="container flex items-center justify-between">
    <a id="home" href="">
      <img class="w-40 md:w-52" src="assets/logo.png" alt="logo">
    </a>
    <nav>
      <ul [ngClass]="{active:activeMenu}" class="flex font-medium text-lg gap-12 ">
        <li style="--d:1">
          <a href="#home">
            {{'Home' }}
          </a>
        </li>
        <li style="--d:2">
          <a href="#videoContent">
            {{'Video Content' }}
          </a>
        </li>
        <li style="--d:3">
          <a href="#softwear">
            {{'CRM Software' }}
          </a>
        </li>
        <li style="--d:4">
          <a href="#videoContent">
            {{'Testimonials' }}
          </a>
        </li>
      </ul>
    </nav>
    <a href="https://www.instagram.com/aureliusgrow/" class="hidden md:block insta">
      <img src="../assets/instagram.svg" alt="">
    </a>

    <div class="menu-icon w-8 h-8 flex flex-col duration-300 gap-2 items-end" [ngClass]="{active:activeMenu}"
      (click)="reflectActiveMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</header>
<hr>
<div class="landing py-10 dReveal">
  <div class="container flex items-center lg:flex-row flex-col gap-10 lg:gap-0">
    <div class="lg:w-1/2 text-center lg:text-left">
      <h1 class="text-3xl md:text-6xl font-extrabold py-7 uppercase">
        Ignite your
        Tattoo Studio’s online presence
      </h1>
      <p class="md:text-lg font-semibold">Unleash your tattoo studio's potential with our all-in-one
        marketing solutions, transforming your online presence
        into predictable income and artistic freedom.</p>
      <button class="btn px-20 mt-10" (click)="activeForm=true">Let’s Chat</button>
    </div>
    <div class="lg:w-1/2">
      <img src="assets/landing.svg" alt="">
    </div>
  </div>
</div>
<hr>
<div class="fixed top-0 left-0 w-full h-screen z-50 flex items-center justify-center" *ngIf="activeForm">
  <button class="absolute top-0 left-0 w-full h-full -z-10 bg-black bg-opacity-30"
    (click)="activeForm = false ; step = 0 ">
  </button>

  <form #form class="bg-gray rounded-3xl p-8 relative max-full w-[590px] h-60 flex justify-between flex-col">
    <h3 class="text-4xl font-extrabold">FILL IN THE <br>
      EMPTY BOXES</h3>

    <div class="relative flex  gap-10 items-center w-full z-0 ">
      <div class="flex-grow relative h-full">
        <div [@lReveal] *ngIf="step == 0" class="w-full absolute">
          <label for="">Are you a Studio Owner or Artist?</label>
          <select name="job" class="w-full" #select [(ngModel)]="data.job">
            <option value="artist" selected>Artist</option>
            <option value="studio-owner">Studio Owner</option>
          </select>
        </div>
        <div [@lReveal] *ngIf="step == 1" class="w-full absolute">
          <label for="">What is your studios name?</label>
          <input type="text" name="studio-name" [(ngModel)]="data.studioName" class="w-full">
        </div>
        <div [@lReveal] *ngIf="step == 2" class="w-full absolute">
          <label for="">Where are you located</label>
          <input type="text" class="w-full" [(ngModel)]="data.location" name="location">
        </div>
        <div [@lReveal] *ngIf="step == 3" class="w-full absolute">
          <label for="">What would benefit your studio the most?</label>
          <input type="text" class="w-full" name="benefits" [(ngModel)]="data.benefits">
        </div>
        <div [@lReveal] *ngIf="step == 4" class="w-full absolute">
          <label for="">Your Full Name</label>
          <input type="text" class="w-full" name="fullName" [(ngModel)]="data.fullName">
        </div>
        <div [@lReveal] *ngIf="step == 5" class="w-full absolute">
          <label for="">Your Email Address</label>
          <input type="email" name="email" [(ngModel)]="data.email" class="w-full">
        </div>
        <div [@lReveal] *ngIf="step == 6" class="w-full absolute">
          <label for="">Your Phone Number</label>
          <input type="tel" name="phone" [(ngModel)]="data.phone" class="w-full">
        </div>
      </div>
      <button [disabled]="" (click)="increasStep()" *ngIf="step < 6"
        class="bg-sec rounded-full flex justify-center items-center p-2 mt-4 "><img src="assets/arrowdown.png"
          alt=""></button>
      <button *ngIf="step == 6" type="submit" (click)="submit()"
        class="bg-primary rounded-full flex justify-center items-center p-2  mt-4"><img src="assets/arrowdown.png"
          alt=""></button>
    </div>
  </form>
</div>

<div class="container flex py-10 lg:flex-row flex-col gap-10 overflow-hidden items-center">
  <div class="lg:w-2/5 text-center lg:text-left font-extrabold text-[40px] uppercase">
    some of our <br>
    trusted clients
  </div>
  <div class="overflow-hidden md:w-3/4 flex relative items-center h-28 gap-20 w-[600px]">
    <div class="flex w-full absolute left-0 justify-around movement gap-10   ">
      <img class="w-28 min-w-[112px]" src="../assets/Rectangle.png" alt="">
      <img class="w-28 min-w-[112px]" src="../assets/Rectangle-1.png" alt="">
      <img class="w-28 min-w-[112px]" src="../assets/Untitled_design__2___1_-removebg-preview 1.png" alt="">
    </div>
    <div class="flex w-full absolute left-full   md:translate-x-0 justify-around movement2 gap-10 ">
      <img class="w-28 min-w-[112px]" src="../assets/Rectangle.png" alt="">
      <img class="w-28 min-w-[112px]" src="../assets/Rectangle-1.png" alt="">
      <img class="w-28 min-w-[112px]" src="../assets/Untitled_design__2___1_-removebg-preview 1.png" alt="">
    </div>
  </div>
</div>
<hr>

<div id="services">
  <div class="container py-10">
    <div class="text-center text-2xl md:text-4xl font-extrabold py-10 dReveal">
      <span>
        WHAT WE OFFER
      </span>
    </div>
    <div class="services-boxs pt-10 grid md:grid-cols-2 lg:grid-cols-3 grid-cols-1 gap-x-16 gap-y-8">
      <div
        class="dReveal rounded-2xl bg-sec text-white px-5 py-8 flex flex-col gap-5 items-center text-center mx-auto max-w-xs"
        *ngFor="let service of services">
        <img class="h-16 md:w-20 my-5" src="{{'assets/services/'+service.icon}}" alt="">
        <h3 class="text-xl md:text-3xl font-bold uppercase">
          {{service.name}}
        </h3>
        <p class="text-sm md:text-lg h-24">
          {{service.dis }}</p>
        <a href="{{service.to}}" (click)="service.to == '#'?activeForm=true:''"
          class="py-3 px-8 rounded-lg border border-white duration-300 hover:bg-white hover:text-sec md:text-lg ">Find
          Out
          More</a>
      </div>
    </div>
  </div>
</div>
<hr>
<div id="videoContent">
  <div class="container py-20 grid grid-cols-1 md:grid-cols-2 gap-8 ">
    <app-video class="dReveal" (openForm)="activeForm = $event" *ngFor="let data of videoContent"
      [data]="data"></app-video>
  </div>
</div>
<hr>
<div id="advertise">
  <div class="container flex lg:flex-row flex-col py-20 gap-10">
    <div class="md:w-1/2 mx-auto dReveal">
      <img src="assets/advertise/advertise.svg" alt="">
    </div>
    <div class="border">

    </div>
    <div class="md:w-1/2 mx-auto text-center lg:text-left">
      <img class="dReveal h-16 md:w-20 my-5 mx-auto lg:ml-0" src="assets/advertise/meta.svg" alt="">
      <h3 class="text-xl md:text-3xl font-bold uppercase py-10 dReveal">
        PAID ADVERTISING
      </h3>
      <p class="text-sm md:text-lg  dReveal">
        Are you tired of being the best kept secret? Being the highest quality artist or studio in your city is great,
        but sometimes it's just not enough. Our advertising methods are designed to capture the attention of your target
        audience by tapping into human behaviour, rather than simply offering generic discounts.</p>
      <button class="btn mt-10 dReveal" (click)="activeForm = true">Let’s Chat</button>
    </div>
  </div>
</div>
<div class="bg-sec pb-20">
  <div
    class="container text-white py-20 flex lg:flex-row flex-col gap-10 items-center lg:items-stretch border-b border-white">
    <div class="max-w-lg text-center lg:text-left">
      <img class="w-16 md:w-20 mx-auto lg:ml-0 dReveal" src="assets/services/videoplay.svg" alt="">
      <h2 class="text-3xl md:text-4xl py-10 dReveal uppercase">Social Media <br>
        Video Content</h2>
      <p class="text-lg md:text-xl dReveal">Social media can be a major headache for Tattoo Artists. After spending all
        day
        tattooing, the last
        thing you
        want to do is spend your precious free time editing, posting or worrying about your online presence. From high
        speed edits to slow build ups or engagement reels, let us handle your social media content so that you can
        unwind and do what you do best - creating Art.</p>
      <button class="btn border mt-11 dReveal bg-sec border-white text-white" (click)="activeForm = true">Let’s
        Chat</button>
    </div>
    <img class="hidden lg:block relative top-24 dReveal" src="assets/arrow.svg" alt="">
    <img class="lg:hidden dReveal" src="assets/arrow2.svg" alt="">
    <div class="flex flex-col justify-between gap-20 lg:gap-0">
      <div class="flex gap-10 font-extrabold items-center flex-col lg:flex-row dReveal"
        *ngFor="let o of socialMediaVideoContent ;let i =index">
        <div class="w-16 h-16 flex items-center justify-center bg-primary text-white text-4xl rounded-3xl">
          0{{i+1}}
        </div>
        <span class="lg:text-3xl text-2xl uppercase">{{o.name}}</span>
      </div>
    </div>

  </div>
  <div class="md:text-[40px] text-[28px] font-extrabold text-white mt-12 text-center">VIDEO EXAMPLES</div>
  <swiper-container class="text-white swiper py-20" init="false">
    <swiper-slide *ngFor="let video of videosSlides" class="w-4/6 mx-auto"> <iframe
        class="aspect-video object-cover w-full rounded-xl border border-neutral-100" [src]="video | safe"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </swiper-slide>





  </swiper-container>
  <div class="text-white flex justify-center gap-10">
    <div class="prev"><img src="../assets/left-btn.svg" alt=""></div>
    <div class="next rotate-180"><img src="../assets/left-btn.svg" alt=""></div>
  </div>
</div>
<hr>
<div id="videoContent">
  <div class="container py-20 grid grid-cols-1 md:grid-cols-2 gap-8">
    <app-video (openForm)="activeForm = $event" class="dReveal" *ngFor="let data of videoContent2"
      [data]="data"></app-video>
  </div>
</div>
<hr>
<div id="softwear">
  <div class="container py-20 grid gap-10 lg:grid-cols-3 md:grid-cols-2 grid-cols-1">
    <div
      class="text-3xl font-extrabold lg:text-4xl py-5 dReveal flex justify-center items-center md:items-start h-full flex-col">
      <div>
        SOFTWARE <br>
        BENEFITS

      </div>
      <div class="gap-1 mt-4 border-b-2 border-transparent border-sec w-fit hidden md:flex cursor-pointer"
        (click)="activeForm =true">
        <span class="text-lg font-semibold">Find Our More </span>
        <img src="assets/r-up-btn.svg" alt="">
      </div>
    </div>
    <div *ngFor="let benefit of benefits" class="p-5 bg-sec rounded-3xl text-white dReveal">
      <img src="assets/benefits/{{benefit.img}}.svg" alt="">
      <h2 class="text-primary pb-5 text-xl md:text-2xl font-bold mt-6">{{benefit.title1}}<br>{{benefit.title}}</h2>
      <p class="">{{benefit.des}}</p>

    </div>
    <div class="gap-1 mt-2 border-b-2 border-transparent hover:border-sec w-fit md:hidden mx-auto flex">
      <span class="text-lg font-semibold">Find Our More </span>
      <img src="assets/r-up-btn.svg" alt="">
    </div>
  </div>
</div>
<hr>
<div class="flex flex-col py-20 gap-14 container text-center items-center">
  <p class="text-3xl md:text-4xl font-extrabold uppercase max-w-3xl dReveal">Remember, one studio per city. You have
    the talent, now let’s up your income
    and win back your time.</p>
  <a class="btn text-xl md:text-3xl md:px-20 px-3  " href="">SCHEDULE A CALL WITH US</a>
</div>
<hr>
<div class="text-center py-3 text-xs md:text-sm">aureliusgrow | all rights reserved {{year}} privacy policy, terms
</div>