<div class="rounded-3xl overflow-hidden  shadow-xl h-full">
  <!-- <iframe class="w-full shadow-xl" height="315" [src]="data?.link | safe" title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe> -->
  <video class="w-full shadow-xl aspect-video  " controls src="assets/testimonials/{{data?.link}}"></video>
  <div class="p-5 pb-8">
    <h2 class="font-bold text-xl md:text-3xl">{{data?.name}}</h2>
    <p class="font-semibold text-[15px] md:text-lg py-5 w-4/5">{{data?.des}}</p>
    <p class="font-extrabold text-[15px] md:text-xl text-primary">{{data.studioName}}</p>
    <button (click)="open()" class="rounded-lg border px-8 py-3 mt-10 md:block hidden">Find Out More</button>
  </div>
</div>